<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430810373156-5t5873v5acv40ad0e85298a3m2t32515.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430810373156-5t5873v5acv40ad0e85298a3m2t32515</string>
	<key>API_KEY</key>
	<string>AIzaSyDUBzI-I5YJYrkGr4iqvc6kg-hCTyb0SkM</string>
	<key>GCM_SENDER_ID</key>
	<string>430810373156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dgrmsApp</string>
	<key>PROJECT_ID</key>
	<string>diesel-generator-monitoring</string>
	<key>STORAGE_BUCKET</key>
	<string>diesel-generator-monitoring.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430810373156:ios:ce168bd9e81fe9ad834cb1</string>
	<key>DATABASE_URL</key>
	<string>https://diesel-generator-monitoring-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>